# untracked files

comp/Ali-Bab-Gastronomie_Pratique-10pt.aux
comp/Ali-Bab-Gastronomie_Pratique-10pt.idx
comp/Ali-Bab-Gastronomie_Pratique-10pt.ind
comp/Ali-Bab-Gastronomie_Pratique-10pt.log
comp/Ali-Bab-Gastronomie_Pratique-10pt.out
comp/Ali-Bab-Gastronomie_Pratique-10pt.toc
